<h1>Search Spotify</h1>
<input (keydown.enter)="search()" [(ngModel)]="searchString">

<select [(ngModel)]="searchCategory">
	<option *ngFor="let category of searchCategories" [value]="category">
		{{category}}
	</option>
</select>

<!-- TODO: Add a trigger to search when users press enter -->
<button class="btn btn-light" (click)="search()">Search</button>

<!-- TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<app-carousel *ngIf="!isTrack()" [carouselId]="'searchCarousel'" [resources]="resources"></app-carousel>

<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-track-list *ngIf="isTrack()" [tracks]="resources"></app-track-list>